In [13]:
import os
import glob
import matplotlib as plt
import pandas as pd
from datetime import datetime
import time

In [24]:
data = 'D:/JupyterProject1/data'

data1 = 'data/Youtube01-Psy.csv'
df1 = pd.read_csv(data1)

data2 = 'data/Youtube02-KatyPerry.csv'
df2 = pd.read_csv(data2)

data3 = 'data/Youtube03-LMFAO.csv'
df3 = pd.read_csv(data3)

data4 = 'data/Youtube04-Eminem.csv'
df4 = pd.read_csv(data4)

data5 = 'data/Youtube05-Shakira.csv'
df5 = pd.read_csv(data5)

In [8]:
df1

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1
...,...,...,...,...,...
345,z13th1q4yzihf1bll23qxzpjeujterydj,Carmen Racasanu,2014-11-14T13:27:52,How can this have 2 billion views when there's...,0
346,z13fcn1wfpb5e51xe04chdxakpzgchyaxzo0k,diego mogrovejo,2014-11-14T13:28:08,I don't now why I'm watching this in 2014﻿,0
347,z130zd5b3titudkoe04ccbeohojxuzppvbg,BlueYetiPlayz -Call Of Duty and More,2015-05-23T13:04:32,subscribe to me for call of duty vids and give...,1
348,z12he50arvrkivl5u04cctawgxzkjfsjcc4,Photo Editor,2015-06-05T14:14:48,hi guys please my android photo editor downloa...,1
349,z13vhvu54u3ewpp5h04ccb4zuoardrmjlyk0k,Ray Benich,2015-06-05T18:05:16,The first billion viewed this because they tho...,0

In [12]:
df2

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,z12pgdhovmrktzm3i23es5d5junftft3f,lekanaVEVO1,2014-07-22T15:27:50,i love this so much. AND also I Generate Free ...,1
1,z13yx345uxepetggz04ci5rjcxeohzlrtf4,Pyunghee,2014-07-27T01:57:16,http://www.billboard.com/articles/columns/pop-...,1
2,z12lsjvi3wa5x1vwh04cibeaqnzrevxajw00k,Erica Ross,2014-07-27T02:51:43,Hey guys! Please join me in my fight to help a...,1
3,z13jcjuovxbwfr0ge04cev2ipsjdfdurwck,Aviel Haimov,2014-08-01T12:27:48,http://psnboss.com/?ref=2tGgp3pV6L this is the...,1
4,z13qybua2yfydzxzj04cgfpqdt2syfx53ms0k,John Bello,2014-08-01T21:04:03,Hey everyone. Watch this trailer!!!!!!!! http...,1
...,...,...,...,...,...
345,z12sjp3zgtqnvlysj23zuxxaolrvd1oj504,Kacy Cluley,2015-06-05T18:59:52,This song means so much to me thank you soooo...,0
346,z132enrpoy35yxpoe04cjr4zur3jvbyq3xo0k,Kasia Fabisiewicz,2015-06-05T19:02:05,&lt;3﻿,0
347,z132jbmxfqm4fjysg23nwjfb2mv2vxnua,Decio Alves Martins,2015-06-05T19:29:20,"KATY PERRY, I AM THE ""DÉCIO CABELO"", ""DECIO HA...",1
348,z12cdlswetvnejcri04cex0jfwy2u3tzj54,Rafi Hossain,2015-06-05T19:55:08,Honestly speaking except taylor swift and adel...,0
349,z120e5uautvcuper304ccf4bjrjugdpbwrc0k,moaz adnan,2015-06-05T20:01:23,who is going to reach the billion first : katy...,0

The dataset contains 2 key columns:
* CONTENT : text comment on youtube comment section.
* CLASS : contains 2 numbers represent for spam (1) and not spam (0)

In [9]:
df1.info

<bound method DataFrame.info of                                       COMMENT_ID  \
0    LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU
1    LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A
2    LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8
3            z13jhp0bxqncu512g22wvzkasxmvvzjaz04
4            z13fwbwp1oujthgqj04chlngpvzmtt3r3dw
..                                           ...
345            z13th1q4yzihf1bll23qxzpjeujterydj
346        z13fcn1wfpb5e51xe04chdxakpzgchyaxzo0k
347          z130zd5b3titudkoe04ccbeohojxuzppvbg
348          z12he50arvrkivl5u04cctawgxzkjfsjcc4
349        z13vhvu54u3ewpp5h04ccb4zuoardrmjlyk0k

                                   AUTHOR                 DATE  \
0                               Julius NM  2013-11-07T06:20:48
1                             adam riyati  2013-11-07T12:37:15
2                        Evgeny Murashkin  2013-11-08T17:34:21
3                         ElNino Melendez  2013-11-09T08:28:43
4                                  GsMega  2013-11-10T16:05:38
..                                    ...                  ...
345                       Carmen Racasanu  2014-11-14T13:27:52
346                       diego mogrovejo  2014-11-14T13:28:08
347  BlueYetiPlayz -Call Of Duty and More  2015-05-23T13:04:32
348                          Photo Editor  2015-06-05T14:14:48
349                            Ray Benich  2015-06-05T18:05:16

                                               CONTENT  CLASS
0    Huh, anyway check out this you[tube] channel: ...      1
1    Hey guys check out my new channel and our firs...      1
2               just for test I have to say murdev.com      1
3     me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
4              watch?v=vtaRGgvGtWQ   Check this out .﻿      1
..                                                 ...    ...
345  How can this have 2 billion views when there's...      0
346         I don't now why I'm watching this in 2014﻿      0
347  subscribe to me for call of duty vids and give...      1
348  hi guys please my android photo editor downloa...      1
349  The first billion viewed this because they tho...      0

[350 rows x 5 columns]>

In [10]:
df1.dtypes

COMMENT_ID    object
AUTHOR        object
DATE          object
CONTENT       object
CLASS          int64
dtype: object

In [25]:
csv_files = glob.glob(os.path.join(data, "*.csv"))

In [26]:
csv_files

['D:/JupyterProject1/data\\Youtube01-Psy.csv',
 'D:/JupyterProject1/data\\Youtube02-KatyPerry.csv',
 'D:/JupyterProject1/data\\Youtube03-LMFAO.csv',
 'D:/JupyterProject1/data\\Youtube04-Eminem.csv',
 'D:/JupyterProject1/data\\Youtube05-Shakira.csv']

In [32]:
dfs = []

for file in csv_files:
    df = pd.read_csv(file)
    df = df[["CONTENT", "CLASS"]]
    dfs.append(df)

newdata = pd.concat(dfs, ignore_index=True)
newdata.to_csv("newData.csv", index=False)

In [33]:
newdata

                                                CONTENT  CLASS
0     Huh, anyway check out this you[tube] channel: ...      1
1     Hey guys check out my new channel and our firs...      1
2                just for test I have to say murdev.com      1
3      me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
4               watch?v=vtaRGgvGtWQ   Check this out .﻿      1
...                                                 ...    ...
1951  I love this song because we sing it at Camp al...      0
1952  I love this song for two reasons: 1.it is abou...      0
1953                                                wow      0
1954                            Shakira u are so wiredo      0
1955                         Shakira is the best dancer      0

[1956 rows x 2 columns]

In [31]:
newdata.dtypes

COMMENT_ID    object
AUTHOR        object
DATE          object
CONTENT       object
CLASS          int64
dtype: object

In [34]:
newdata['CLASS'].value_counts()

CLASS
1    1005
0     951
Name: count, dtype: int64